[package]
name = "quadrature-encoder"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
embedded-hal = { version = "1.0.0" }
quadrature-decoder = { version = "0.1.0", path = "../quadrature-decoder", default-features = false }

[dev-dependencies]
embedded-hal-mock = { version = "0.10.0", features = ["eh1"] }
